################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/MineSweeperSolver/MineSweeperSolver.csproj
/MineSweeperSolverTests/MineSweeperSolverTests.csproj
/MineSweeperSolver_02042025/MineSweeperSolver_02042025.csproj
/MineSweeperSolver_02042025/MineSweeperSolver_02042025.csproj
/MineSweeperSolverTest_20250403/MineSweeperSolverTest_20250403.csproj
