################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/MineSweeperSolver/MineSweeperSolver.csproj
/MineSweeperSolverTests/MineSweeperSolverTests.csproj
